@media screen and (max-width: 1250px) {
    .ForestItem {
    
    }
    .ForestImg{
       
    }
    .ForestBorder{

    }
    .MountainUpImg {
  
    
    }
  
    .MountainDownImg {
      left: -200px;
      bottom: -160px;
    }
    .MountainBorder{
        bottom: -140px;
        right: 20px;

    }
  }
  @media screen and (max-width: 1150px) {
    .ForestItem {
        left: 40px;
        margin-top: -240px;
      }
      .ForestImg{
         
      }
      .ForestBorder{
     /* bottom: -130px; */
      }
      .MountainUpImg {
    
      
      }
    
      .MountainDownImg {
        left: -180px;
        bottom: -160px;
      }
      .MountainBorder{
          bottom: -120px;
          right: 10px;
          padding: 70px;
      }


  }

  @media screen and (max-width: 1050px) {
    .ForestItem {
        margin-top: -200px;
      }
      .ForestImg{
         
      }
      .ForestBorder{
        bottom: -130px;
       
      }
      .MountainUpImg {
    
      
      }
    
      .MountainDownImg {
        left: -150px;
      
      }
      .MountainBorder{
        bottom: -80px;
        right: 5px;
        padding: 60px;
        border-width: 35px;
  
      }
  }
  @media screen and (max-width: 950px) {
    .ForestItem {
      margin-top: -160px;
      left: 20px;
      }
      .ForestImg{
         
      }
      .ForestBorder{
        
        bottom: -130px;
        left: 50px;
      }
      .MountainUpImg {
    
      
      }
    
      .MountainDownImg {
        left: -110px;
      
      }
      .MountainBorder{
        bottom: -90px;
        right: 0 ;
      }
  }
  @media screen and (max-width: 850px) {
    .ana{
      display: block;
      left: 100px;
    }
    .MountainItem{
      right: -250px;
      bottom: 30px;
    }
    .ForestItem {
      margin-top: -60px;
     
      
      }
      .ForestImg{
        width: 60%;
      }
      .ForestBorder{
        padding: 25px;
        border-width: 15px;
        bottom:-100px ;

      }
      .MountainUpImg {
    
      
      }
    
      .MountainDownImg {
        left: -100px;
        bottom: -120px;
      
      }
      .MountainBorder{
        padding: 40px;
        border-width: 28px;
        bottom: -20px;
      }
  }
  @media screen and (max-width: 750px) {
    .ForestItem {
      margin-top: ;
      left: ;
      }
      .ForestImg{
        width: 65%;
      }
      .ForestBorder{
        padding: ;
        border-width: ;
        bottom:  ;
        left: 30px;

      }
  
      .MountainUpImg {
         width: 100%
      
      }
      
      .MountainDownImg {
        left: -120px;
        bottom: -140px;
        width: 65%;
      
      }
      .MountainBorder{
        right: -20px;
        bottom:-30px ;
      }
  }
  @media screen and (max-width: 690px) {
    .ForestItem {
      margin-top:-80px ;
      left:50px ;
      }
      .ForestImg{
        width: 70%;
      }
      .ForestBorder{
       
        left: 20px;

      }
       .MountainItem {
        width: 55%;
       }
      .MountainUpImg {
         width: 100%
      
      }
      
      .MountainDownImg {
       left: -130px;
        bottom: -100px;
        width: 65%; 
      
      }
      .MountainBorder{
        /* right: -20px;
        bottom:-30px ; */
      }
  }
  @media screen and (max-width: 614px) {
    .ForestItem {
      margin-top:-60px ;
      left:50px ;
      }
      .MountainBorder{
       right: 10px;
        bottom:-30px ; 
        padding: 33px;
        border-width: 22px;
      }
      .MountainItem {
        width: 50%;
       }
       .MountainDownImg{
        left: -100px;
      
       }
  }
  @media screen and (max-width: 550px) {
    .MountainItem {
      width: 45%;
     
     }
     .MountainUpImg img{
      border-width: 6px;
     }
     .MountainDownImg{
      left: -80px;
      bottom: -80px;
      border-width: 10px;
     }
     .MountainBorder{
      border-width: 19px;
      bottom: -46px;
      padding: 30px;
     }
     .ForestBorder{
      left: -10px;
     }
     .ForestItem{
      margin-top: -50px;
      left: 80px;
     }
  }
  @media screen and (max-width: 500px) {

    .ForestItem{
      left: 50px;
     }
     .MountainItem{
      right: -200px;
     }
     .MountainBorder{
     right: -10px;
     padding: 25px;
     bottom: -20px;
     }
     .MountainDownImg{
      left: -60px;
      bottom: -60px;
      
     }
     .ForestBorder{
   
      border-width: 10px;
      padding: 20px;
      bottom: -70px;
     }
  }
  @media screen and (max-width: 430px) {
    .MountainItem{
      right: -170px;
      width: 55%;
     }
  }